<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<!--<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/springsecurity" lang="en" data-bs-theme="auto">-->
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <title>Why are you not already registered?!!</title>
<!--    <script src="../assets/js/color-modes.js"></script>-->
    <link th:href="@{/bootstrap-5.3.8/css/bootstrap.min.css}" rel="stylesheet" />
    <link th:href="@{/css/sign-in.css}" rel="stylesheet" />
    <link th:href="@{css/common.css}" rel="stylesheet" />

</head>
<body class="d-flex align-items-center py-4 bg-body-tertiary">
    <div class="form-signin w-100 m-auto">
        <form method="post" th:object="${userInsertDTO}">
        <img
          class="mb-3 rounded mx-auto d-block"
          th:src="@{/img/dms_logo.png}"
          alt=""
          width="272"
          height="172"
          style="padding-left: 30px"
        />
        <h1 class="h3 mb-3 fw-normal text-align-center">REGISTRATION Room!</h1>
          <div class="form-floating">

              <input type="email" class="form-control" th:field="*{email}" id="floatingInput" placeholder="name@example.com"/>
              <label for="floatingInput">e-mail</label>
              <div th:if="${#fields.hasErrors('email')}">
                  <p th:classappend="${#fields.hasErrors('email')} ? 'error'" th:errors="*{email}"></p>
              </div>
          </div>

        <div class="form-floating">
          <input type="text" class="form-control" th:field="*{username}" id="floatingUsername" placeholder="username" required/>
            <label for="floatingUsername">Username</label>
            <div th:if="${#fields.hasErrors('username')}">
                <p th:classappend="${#fields.hasErrors('username')} ? 'error'" th:errors="*{username}"></p>
            </div>
        </div>

        <div class="form-floating">
          <input type="password" class="form-control" th:field="*{password}" id="floatingPassword" placeholder="Password"
          />
          <label for="floatingPassword">Password</label>
            <div th:if="${#fields.hasErrors('password')}">
                <p th:classappend="${#fields.hasErrors('password')} ? 'error'" th:errors="*{password}"></p>
            </div>
        </div>
            <div class="mb-4">
                <label for="role" class="form-label">Role</label>
                <select class="form-select" th:field="*{roleId}" id="role" required>
                    <option th:each="role : ${roles}" th:value="${role.id}" th:text="${role.name}"></option>
                </select>
            </div>
        <div class="form-check text-start my-3">
          <input
            class="form-check-input"
            type="checkbox"
            value="remember-me"
            id="checkDefault"
          />
          <label class="form-check-label" for="checkDefault">
            Remember me
          </label>
        </div>
        <button class="btn btn-primary w-100 py-2" type="submit">
          Sign in
        </button>
        </form>
        <p class="mt-5 mb-3 text-body-secondary">&copy; 2025–2026</p>
        <div>
            <a th:href="@{/}" class="py-2 mt-3 mb-3 pt-3 text-bg-tertiary" style="">Back to Home!</a>
        </div>
    </div>
    </div>

</body>
</html>