<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/springsecurity">
<head>
</head>
<body>
<header th:fragment="headerFragment">
    <div>
        <nav class="navbar navbar-expand-md bg-dark sticky-top border-bottom" data-bs-theme="dark">
            <div class="container">
                <a class="navbar-brand d-md-none" href="#">
<!--                    <svg class="bi" width="24" height="24" aria-hidden="true">-->
<!--                        <use xlink:href="#aperture"></use>-->
<!--                    </svg>-->

                              <h3 class="float-md-start mb-0 py-1 px-3">    <img
                              class="mb-4"
                              th:src="@{/img/dms_logo.png}"
                              alt=""
                              width="185"
                              height="130"
                              style="margin-left: 65px; justify-content: center;"
                            /></h3>

                    Aperture
                </a>
                <button
                        class="navbar-toggler"
                        type="button"
                        data-bs-toggle="offcanvas"
                        data-bs-target="#offcanvas"
                        aria-controls="offcanvas"
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div
                        class="offcanvas offcanvas-end"
                        tabindex="-1"
                        id="offcanvas"
                        aria-labelledby="offcanvasLabel">
                    <div class="offcanvas-header">
                        <h5 class="offcanvas-title" id="offcanvasLabel">Aperture</h5>
                        <button
                                type="button"
                                class="btn-close"
                                data-bs-dismiss="offcanvas"
                                aria-label="Close"
                        ></button>
                    </div>
                    <div class="offcanvas-body">
                        <ul class="navbar-nav flex-grow-1 justify-content-between">
                            <li class="nav-item">
                                <a class="nav-link" href="#" aria-label="Aperture">
                                    <svg class="bi" width="24" height="24" aria-hidden="true">
                                        <use xlink:href="#aperture"></use>
                                    </svg>
                                </a>
                            </li>
                            <li class="nav-item"><a class="nav-link" href="#">Tour</a></li>
                            <li class="nav-item"><a class="nav-link" href="#">Product</a></li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Features</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Enterprise</a>
                            </li>
                            <li class="nav-item"><a class="nav-link" href="#">Support</a></li>
                            <li class="nav-item"><a class="nav-link" href="#">Pricing</a></li>
                            <li class="nav-item">
                                <a class="nav-link" href="#" aria-label="Cart">
                                    <svg class="bi" width="24" height="24" aria-hidden="true">
                                        <use xlink:href="#cart"></use>
                                    </svg>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>

        <div class="d-flex align-items-center justify-content-center">
            <!-- <img
     class="mb-3"
     src="/../../img/the_master.png"
     alt=""
     width="300"
     height="400"
     style="padding-left: 150px"
   /> -->
        </div>
    </div>
</header>
</body>
</html>