<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/springsecurity" lang="en" data-bs-theme="auto">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<link th:href="@{/bootstrap-5.3.8/css/bootstrap.min.css}" rel="stylesheet"/>
<body>
<div th:fragment="tasks-form-fields-fragment">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Currently editing: {}</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group me-2">
                <button type="button" class="btn btn-sm btn-outline-secondary">
                    Share
                </button>
                <button type="button" class="btn btn-sm btn-outline-secondary">
                    Export
                </button>
            </div>
            <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle d-flex align-items-center gap-1">
                <svg class="bi" aria-hidden="true">
                    <use xlink:href="#calendar3"></use>
                </svg>
                This week
            </button>
        </div>
    </div>
        <div class="col-md-7 col-lg-8">
            <!-- <h4 class="mb-3">Billing address</h4> -->
            <form method="POST" th:object="${taskInsertDTO}">
                <div class="row g-3">
                    <div class="col-sm-6">
                        <label for="noteTitle" class="form-label">Note Title</label>
                        <input type="text"
                               class="form-control"
                               id="noteTitle"
                               th:field="*{noteTitle}"
                               required/>
                        <div class="invalid-feedback"
                             th:errors="*{noteTitle}"></div>
                    </div>

                    <!-- Contact Person -->
                    <div class="col-sm-6">
                        <label for="description" class="form-label">Description</label>
                        <input type="text"
                               class="form-control"
                               id="description"
                               th:field="*{description}"
                               required/>
                        <div class="invalid-feedback"
                             th:errors="*{description}"></div>
                    </div>

                    <!-- Email -->
                    <div class="col-sm-6">
                        <label for="inDue" class="form-label">inDue</label>
                        <input type="datetime-local"
                               class="form-control"
                               id="inDue"
                               th:field="*{inDue}"
                               required/>
                        <div class="invalid-feedback"
                             th:errors="*{inDue}"></div>
                    </div>

                    <div class="col-md-5">
                        <label for="clients">Client:</label><br>
                        <select name="" id="clients" th:field="*{cid}">
                            <option value="" selected>Select Client</option>
                            <option th:each="client : ${clients}" th:value="${client.id}" th:text="${client.companyName}"></option>
                        </select>
                        <div th:if="${#fields.hasErrors('cid')}">
                            <p th:classappend="${#fields.hasErrors('cid')} ? 'error'" th:errors="*{cid}"></p>
                        </div>
                    </div>
                    </div>

                    <div class="textarea-wrapper">
                        <label class="textarea-label" for="auto-textarea">Add your description
                            <textarea
                                    id="auto-textarea"
                                    class="auto-expand-textarea"
                                    placeholder="Add something.."
                                    maxlength="2000"
                            ></textarea>
                        </label>
                            <div class="character-count">0/500</div>
                    </div>
                        <hr class="my-4" />
                        <button class="w-100 btn btn-primary btn-lg" type="submit">
                            Save task
                        </button>
                   </form>
            </div>
        </div>
    </div>
    <!--<script th:src="@{/js/dropDownClients.js}"></script>-->
 </body>
</html>